
.branch-list .card{
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 8%);
}
.branch-list .card-header{
    font-size: 20px;
    padding:15px;
    background-color:white;
    margin-bottom: 15px;
}


.branch-list  .btn-list:hover{
    box-shadow: 0 2px 6px 0  rgb(142 155 156 / 50%);
}

.branch-list  .btn-list{
    background-color: var(--color-main);
    color: white;
    border-radius: 2px;
    font-size: 15px;
}

/* Edit Icone */
.branch-list .table .fa-edit{
    color: #28a745;
    background-color: #e7ffec;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid #28a745;
    margin-top: 5px;
}

/* Delete Icone */
.branch-list .table .fa-trash{
    color: #dc3545;
    background-color: #ffe3e6;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid #dc3545;
    margin-top: 5px;
    margin-left: 10px;
}

/* Invoice Icone */
.branch-list .table .fa-hand-holding-medical{
    color: rgb(85, 149, 233);
    background-color: #e7efff;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid rgb(85, 149, 233);
    margin-top: 5px;
    margin-left: 10px;

}

/* Return Icone */
.branch-list .table .fa-retweet{
    color: #ff8e24;
    background-color: #ffeedf;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid #ff8e24;
    margin-top: 5px;
}

/* Repayment Invoice */
.branch-list .table .fa-money{
    color: var(--color-main);
    background-color: var(--color-second);
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid var(--color-main);
    margin-top: 5px;
    margin-left: 10px;
}

/* employees Icone */
.branch-list .table .fa-user{
    color: #324ef0;
    background-color: #b8c3ff9a;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid #324ef0;
    margin-top: 5px;
    margin-left: 10px;
}

/* reckons Icone */
.branch-list .table .fa-hourglass-half{
    color: #e6c50e;
    background-color: #fff8d0c9;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid #e6c50e;
    margin-top: 5px;
    margin-left: 10px;
}

/* customer Icone */
.branch-list .table .fa-users{
    color: #b432f0;
    background-color: #f7e4ff8f;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid #b432f0;
    margin-top: 5px;
}

/* Purchases Icone */
.branch-list .table .fa-cart-arrow-down{
    color: #13d46a;
    background-color: #d5fbe6;
    border-radius: 2px;
    padding: 4px;
    font-size: 14px;
    margin-left: 10px;
    border: 1px solid #13d46a;
    margin-top: 5px;
}

/* Edit Icone Hover*/
.branch-list .table .fa-edit:hover{
    color:  #e7ffec;
    background-color: #28a745;
}

/* Delete Icone Hover */
.branch-list .table .fa-trash:hover{
    color: #ffe3e6;
    background-color: #dc3545;
}

/* Invoice Icone Hover*/
.branch-list .table .fa-hand-holding-medical:hover{
    color:  #e7efff;
    background-color: rgb(85, 149, 233);
}

/* Return Icone Hover*/
.branch-list .table .fa-retweet:hover{
    color:  #ffeedf;
    background-color:  #ff8e24;
}

/* Repayment Icone Hover*/
.branch-list .table .fa-money:hover{
    color:  #e7efff;
    background-color:  var(--color-main);
}

/* customer Icone Hover*/
.branch-list .table .fa-users:hover{
    color:  #f8e8fa;
    background-color:  #b432f0;
}

/* reckons Icone Hover*/
.branch-list .table .fa-hourglass-half:hover{
    color:  #fff8d0;
    background-color:  #e6c50e;
}

/* employees Hover*/
.branch-list .table .fa-user:hover{
    color:  #dce1ff;
    background-color:  #324ef0;
}

/* Purchases Icone Hover */
.branch-list .table .fa-cart-arrow-down:hover{
    color:  #d5fbe6;
    background-color:  #13d46a;
}

.branch-list .dropdown-toggle::after{
    visibility: hidden;
}
.branch-list .dropdown-toggle{
    padding: 0px;
    border: 0px;
}

.branch-list .dropdown-menu{
    border: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.branch-list .list-group-item-customer{
    font-size: 14px;
    color: rgb(180, 50, 240);
    background-color: #f7e4ff;
    right: -10px;
}

.branch-list .list-group-item-customer:hover{

    color: #e7e7ff;
    background-color: rgb(180, 50, 240);
}

.branch-list .list-group-item-product{
    font-size: 14px;
    color: rgb(19, 212, 106);
    background-color: #d7fbe7;
    right: -10px;
}

.branch-list .list-group-item-product:hover{

    color: #d7fbe7;
    background-color: rgb(19, 212, 106);
}

.branch-list .table .fa-dolly-flatbed{
    color: #c635ff;
    background-color: #f5daff;
    border-radius: 2px;
    padding: 3px 2px 3px 2px;
    font-size: 15px;
    border: 1px solid #c635ff;
    margin-top: 5px;
    margin-left: 10px;
}


.branch-list .table .fa-dolly-flatbed:hover{
    color: #f5daff;
    background-color: #c635ff;
}


.branch-list .table .fa-university{
    color: #ffa135;
    background-color: #fae0c2;
    border-radius: 2px;
    padding: 3px 2px 3px 2px;
    font-size: 15px;
    border: 1px solid #ffa135;
    margin-top: 5px;
    margin-left: 10px;
}


.branch-list .table .fa-university:hover{
    color: #fae0c2;
    background-color: #ffa135;
}


/* Edit Button Add Customar */
.branch-list .card-header button{
    font-size: 15px;
}

.branch-list .card-body .icone-pdf-excel{
    background-color: #f0f1f1;
}

.branch-list .card-body .icone-pdf-excel i{
    padding: 10px;
    background-color: #f0f1f1;
    margin: 0;
    color: black;
}

.branch-list .card-body .icone-pdf-excel i:hover{
    background-color: #cecece
}
.branch-list .form-control {
    width: auto;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before{
    content: "-";
    background-color: var(--color-main) !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color: var(--color-main) !important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid rgb(255 255 255 / 15%) !important;
}
.table-info, .table-info>td, .table-info>th {
    background-color: #eafcff52;
}

/* Edit Button Search */
.dataTables_filter input{
    margin-bottom: 20px;
    padding-top: 20px; 
    padding-bottom: 20px;
    font-size: 14px;
    border: #afafaf solid 1px;
}

.dataTables_filter input:focus{
    border: var(--color-main) solid 1px;
    box-shadow: inset 0 1px 1px rgb(0 124 160 / 10%), 0 0 20px rgb(0 124 160/ 10%);
}


.dataTables_length select{
    font-size: 14px;
    border: #afafaf solid 1px;
} 


.dataTables_length select:focus{
    border: var(--color-main) solid 1px;
    box-shadow: inset 0 1px 1px rgb(0 124 160 / 10%), 0 0 20px rgb(0 124 160/ 10%);
}

select.form-control-sm:not([size]):not([multiple]){
    height: 40px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: var(--color-main);
    border-radius: 2px !important;
}

.pagination>li>a, .pagination>li>span {
    color: var(--color-main);
}
table.table-bordered.dataTable {
    border-right-width: 1px !important;
}
